$main-font: Arial;

/*
БЭМ (Блок, Элемент, Модификатор) — компонентный подход к веб-разработке.
В его основе лежит принцип разделения интерфейса на независимые блоки. 
Он позволяет легко и быстро разрабатывать интерфейсы любой сложности и
повторно использовать существующий код, избегая «Copy-Paste».
*/
body {
  display: flex;
  width: auto;
  justify-content: center;
}

//Основной контейнер сайта
.main-container {
  width: 1024px; // Ширина контейнера 1024рх
  font: $main-font; //Устанавливаем основной шрифт страницы
}

//Шапка сайта
.header {
  display: flex;
  width: 100%;
  background-color: white; // Фон буквально "Белый" (к̶о̶л̶а̶м̶б̶у̶р̶)
  justify-content: space-around;

  //Логотип в шапке
  .header-logo {
    display: flex;
    width: 212px; // Ширина 212px
    height: 45px; // Высота 45px
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../media/img/logo.png);
  }

  //Меню c текстом
  .header-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: fit-content;

    ul {
      display: inline-flex;
      column-gap: 2rem;
      text-decoration: none;
    }
    li {
      font: 14px $main-font; //Размер шрифта 14рх
      height: 22px; // Высота 22px
      color: #333 !important; //Цвет  н̶а̶с̶т̶р̶о̶е̶н̶и̶е̶(текста) #333
      list-style-type: none;
    }
  }
}

//Промо блок:
.promo-block {
  display: flex;
  width: 100%;
  height: 600px;
  background-size: 100%, auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../media/img/image.jpg);
  justify-content: center;
  align-items: center;
  //Контентная часть промо блока
  .promo-block-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //Заголовок в промо блоке
  .promo-block-content-header {
    font: 50px $main-font; //Размер шрифта 50рх
  }

  //Описание под заголовком
  .promo-block-content-description-under-header {
    font: 24px $main-font; //размер шрифта 24рх,
    line-height: 38px; // высота строки 38px
  }
}

//Независимый блок с логотипом
.Independent-block-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 341px;
  height: 341px;
  background-color: #f1efec; //Цвет фона #f1efec

  //Картинки логотипа
  .Independent-block-logo-image {
    display: flex;
    width: 212px; // Ширина 212px
    height: 45px; // Высота 45px
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../media/img/logo.png);
  }
}

//Блок "Donate now"
.Donate-now-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 341px;
  height: 341px;
  background-color: #9b242d; //Цвет фона 9b242d

  //Заголовок блока  "Donate now"
  .Donate-now-block-header {
    font: 40px $main-font; //Размер шрифта 40рх
  }

  //Описание под заголовком блока  "Donate now"
  .Donate-now-block-description-under-header {
    font: 16px $main-font; //размер шрифта 16рх,
    line-height: 22px; // высота строки 22px
  }
}

//Блок "Sign up"
.Sign-up-block {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;

  width: 682px;
  height: 341px;

  background-color: #46a651; //Цвет фона #46a651

  //Заголовок блока  "Sign up"
  .Sign-up-block-header {
    padding-right: 25px;
    font: 40px $main-font; //Размер шрифта 40рх
  }

  //Описание под заголовком блока   "Sign up"
  .Sign-up-block-description-under-header {
    padding-right: 25px;
    text-align: end;
    font: 16px $main-font; //размер шрифта 16рх,
    line-height: 22px; // высота строки 22px
  }

  .Sign-up-block-button {
    padding-right: 25px;
    button {
      padding: 15px;
      background-color: #3483ee; //Цвет фона #3483ee
      font: 16px $main-font; //размер шрифта 16рх,
      line-height: 22px; // высота строки 22px
    }
  }
}

//Блок "Facebook"
.Facebook-block {
  width: 341px;
  height: 341px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #3b5997; //Цвет фона #3b5997

  .Image-block-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35px;
    height: 75px;

    img {
      width: 35px;
      height: 75px;
    }
  }

  //Заголовок блока  "Facebook"
  .Facebook-block-header {
    font: 40px $main-font; //Размер шрифта 40рх
  }

  //Описание под заголовком блока   "Facebook"
  .Facebook-block-description-under-header {
    color: rgb(255, 255, 255) !important;
    font: 16px $main-font; //размер шрифта 16рх,
    line-height: 22px; // высота строки 22px
  }
}

//Блок "Footer"
.Footer-block {
  padding: 35px;
  background-color: #373838; //Цвет фона #373838

  //Заголовок блока  "Footer"
  .Footer-block-header {
    font: 40px $main-font; //Размер шрифта 40рх
  }

  //Описание под заголовком блока   "Footer"
  .Footer-block-description-under-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    //Меню c текстом
    .footer-menu {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: fit-content;

      u {
        display: inline-flex;
        column-gap: 2rem;
        text-decoration: none;
      }
      li {
        font: 15px $main-font; //Размер шрифта 15рх
        line-height: 22px; // высота строки 22px
        color: #939393 !important; //Цвет  н̶а̶с̶т̶р̶о̶е̶н̶и̶е̶(текста) #939393
        list-style-type: none;
      }
    }
  }
}

.Image-block-short {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 341px;
  height: 341px;

  img {
    width: 341px;
    height: 341px;
  }
}

.Image-block-long {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 682px;
  height: 341px;

  img {
    width: 682px;
    height: 341px;
  }
}

#row1 {
  display: flex;
  flex-direction: row;
}
#row2 {
  display: flex;
  flex-direction: row;
}
#row3 {
  display: flex;
  flex-direction: row;
}

a.text-main:active, /* активная/посещенная ссылка */
a.text-main:hover,  /* при наведении */
a.text-main {
  text-decoration: none;
  color: #333;
}
a.text-footer:active, /* активная/посещенная ссылка */
a.text-footer:hover,  /* при наведении */
a.text-footer {
  text-decoration: none;
  color: #939393;
}
